.dark {
  background-color: #2a303c;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.main {
  margin-bottom: 31px;
}
